<div *ngFor="let character of characters" class="card bg-dark text-white">
    <img class="card-img" src={{character.img}} alt="Card image">
    <div class="card-img-overlay">
      <h5 class="card-title">{{character.name}}</h5>
      <p class="card-text">Nickname: {{character.nickname}}</p>
      <p class="card-text">Birthday: {{character.birthday}}</p>
      <p class="card-text">Status: {{character.status}}</p>
      <p class="card-text">Seasons Appearance: {{character.appearance}}</p>
      <p class="card-text">Performed by: {{character.portrayed}}</p>
    </div>
  </div>

